@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.contentLeague {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gridFormat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
}

.customShadow::after {
  content: "";
  position: absolute;
  border: 1px solid #000;
  z-index: -10;
  bottom: -7px;
  height: 100%;
  left: 7px;
  width: 100%;
}

.customShadowBlack::after {
  content: "";
  position: absolute;
  border: 1px solid #fff;
  z-index: -10;
  bottom: -7px;
  height: 100%;
  left: 7px;
  width: 100%;
}

.toastPru {
  background-color: red;
}
