@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .articleButton {
    @apply flex flex-col gap-1 justify-between before:bg-white/10 border-white/20 border-1 overflow-hidden py-1 absolute before:rounded-xl rounded-large bottom-1 w-[calc(100%_-_8px)] shadow-small ml-1 z-10;
  }
}

body {
  height: 100vh;
}

.contentLeague {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gridFormat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
}

.sectionCreation {
  display: flex;
  height: 500px;
  width: 700px;
}

.sectionCreation div {
  width: 50px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
  height: 100%;
}

.sectionCreation div:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.toastPru {
  background-color: red;
}

.pruebaButton {
  transform: translate(10px, -50px);
}

input[type='file']{
  display: none;
}

.image-uploader {
  position: relative;
  text-align: center;
  margin: 0px 20px 10px 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px dashed #aaa;
  align-items: center;
}

.file-input {
  display: flex;
  position: absolute;
  top: 50%;
}

.drop-zone {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  z-index: 10;
}

.uploaded-image {
  max-width: 200px;
  max-height: 100%;
  transition: opacity 0.5s;
}

.uploaded-image.loading {
  opacity: 0.5;
}
